@import '../variables/index.less';

.button-theme(@type, @color) {
  &--@{type} {
    background-color: @color;
    color: #fff;
    &::after {
      border-color: @color;
    }
    &[disabled] {
      color: #fff;
    }
    &__round {
      border-radius: 60px;
    }
    &__plain[plain],
    &__plain[plain][disabled],
    &__plain[plain]:not([disabled]):active {
      background-color: transparent;
      &:active {
        background-color: @color-gray-5;
      }
      color: @color;
      border: 0;
      &::after {
        border-width: 1px;
      }
    }
    &__plain[plain][disabled] {
      background-color: @color-gray-5;
    }
  }
  &--@{type}:not([disabled]):active {
    background-color: @color;
    color: #fff;
  }
}

.@{tv-prefix}-button {
  margin: 0;
  cursor: pointer;
  overflow: visible;
  &:active {
    opacity: 0.8;
  }

  &[disabled] {
    opacity: 0.7;
    &:active {
      opacity: 0.7;
    }
  }

  &-hide {
    overflow: hidden;
  }

  &-block {
    display: block;
    width: 100%;
  }

  &-nostyle {
    padding: 0;
    margin: 0;
    &:active {
      background-color: transparent !important;
    }
    &[size='mini'] {
      padding: 0;
      margin: 0;
    }
    &::after {
      display: none;
    }
  }
  &-round {
    // border-radius: 60px;
    &::after {
      border-radius: 60px;
    }
  }
  &-rectangular {
    border-radius: 0;
    &::after {
      border-radius: 0;
    }
  }
  &-mini[size='mini'] {
    font-size: @font-size-xs;
  }
  &-small[size='mini'] {
    font-size: @font-size-sm;
  }
  &-normal {
    font-size: @font-size-base;
    &[size='mini'] {
      font-size: @font-size-base;
    }
  }
  &-large {
    font-size: @font-size-lg;
    &[size='mini'] {
      font-size: @font-size-lg;
    }
    &::after {
      // transform: scale(0.49);
    }
  }
  &-block[size='mini'] {
    display: table;
  }

  &--default[disabled] {
    color: @color-base;
  }
  &--default[plain] {
    &::after {
      border-color: #d1d5db;
    }
    &:not([disabled]):active {
      border-color: #d1d5db;
      color: #d1d5db;
      background-color: transparent;
      opacity: 1;
    }
  }
  &--default {
    background-color: #fff;
    &::after {
      border-color: #d1d5db;
    }
    &__round {
      border-radius: 60px;
      &::after {
        border-radius: 100px;
      }
    }
    &__rectangular {
      border-radius: 0;
      &::after {
        border-radius: 0;
      }
    }
    &:not([disabled]):active {
      background-color: @color-gray-5;
      &::after {
        border-color: #d1d5db;
      }
      &__round {
        &::after {
          border-radius: 100px;
        }
      }
    }
  }

  &--default[plain] {
    color: #fff;
    border-color: #fff;
    background-color: transparent;
  }

  .button-theme(primary, @color-primary);

  .button-theme(danger, @color-danger);

  .button-theme(info, @color-success);

  .button-theme(warning, @color-warning);
}
