@import '../variables/index.less';

.@{tv-prefix}-dialog {
  &-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &-container {
    background-color: #fff;
    width: 540px;
    border-radius: 10px;
    padding-top: @space-y;
    overflow: hidden;
  }
  &-content {
    padding: @space-sm @space-y;
    padding-bottom: @space-lg;
    text-align: center;
  }
  &-footer {
    &--rounded {
      width: 100%;
      padding-bottom: @space-y;
      &__btn[size='mini'] {
        width: 200px;
        &:first-child {
          margin-right: @space-y;
        }
      }
    }
    &--btn {
      border-radius: 0;
      &::after {
        border-radius: 0;
      }
      &--more[size='mini'] {
        margin-left: -1px;
        width: calc(50% + 2px);
        height: 70px;
        line-height: 70px;
      }
    }
    .tv-button--primary__plain {
      &::after {
        border-color: #d1d5db;
      }
      &:active {
        border-color: #d1d5db;
      }
    }
  }
}
