@import '../variables/index.less';

.@{tv-prefix}-dialog {
  &-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &-container {
    background-color: #fff;
    width: 540px;
    border-radius: 10px;
    overflow: hidden;
  }
  &-head {
    padding-top: @space-y;
  }
  &-content {
    padding: @space-sm @space-y;
    padding-bottom: @space-lg;
    text-align: center;
  }
  &-footer {
    &--radio {
      width: 100%;
      padding-bottom: @space-y;
      &__btn {
        width: 200px;
        &:first-child {
          margin-right: @space-y;
        }
      }
    }
    &--btn {
      &--more {
        margin-left: -1px;
        width: calc(50% + 1px);
      }
      .tv-button {
        &::after {
          border-radius: 0;
        }
        &--primary__plain[plain] {
          border-color: #d1d5db;
          &:active {
            border-color: #d1d5db;
          }
        }
        border-radius: 0;
      }
    }
  }
}
