@import '../variables/index.less';

.@{tv-prefix}-field {
  padding: @space-sm @space-x;
  background-color: #fff;
  overflow: hidden;
  padding-left: 0;
  &:not(:last-child)::after {
    left: 40px;
    bottom: 1px;
  }
  &-container {
    display: flex;
    align-items: center;
    width: 100%;
    &__start {
      align-items: flex-start;
    }
    &__label {
      display: flex;
      width: 180px;
      min-width: 180px;
      vertical-align: middle;
      text-align: left;
      line-height: @line-height-zh;
      margin-right: 12px;
      padding-left: @space-x;
      &::before {
        display: inline-block;
        margin-right: 8px;
        color: @color-text-error;
        font-size: @font-size-base;
        font-family: SimSun, sans-serif;
        content: '*';
        visibility: hidden;
      }
      &--required {
        &::before {
          visibility: visible;
        }
      }
      &--disabled {
        .tv-text {
          color: @color-gray-2;
        }
      }
    }
    &__input {
      vertical-align: middle;
      color: @color-text-base;
      width: 100%;
      input,
      textarea {
        font-size: @font-size-base;
        &::placeholder,
        &::input-placeholder {
          color: @color-gray-3;
        }
      }
      &--disabled {
        color: @color-gray-2;
      }
      &--body {
        display: flex;
        align-items: center;
        &__inp {
          flex: 1;
        }
        &__textarea {
          width: auto;
        }
      }
      &--textarea {
        align-items: flex-start;
      }
      &--center {
        text-align: center;
      }
      &--right {
        text-align: right;
      }
      &--error {
        color: @color-text-error;
        input {
          &::placeholder,
          &::input-placeholder {
            color: @color-text-error;
          }
        }
      }
    }
  }
}

.@{tv-prefix}-field-ph {
  color: @color-gray-3;
  &--error {
    color: @color-text-error;
  }
}
