@import '../variables/index.less';

text.@{tv-prefix}-icon,
.@{tv-prefix}-icon {
  line-height: initial;
  display: inline-block;
  &-sm {
    font-size: @font-size-sm;
  }
  &-base {
    font-size: @font-size-base;
  }
  &-lg {
    font-size: 40px;
  }
  &-xl {
    font-size: 60px;
  }
  &-xxl {
    font-size: 80px;
  }
}
