@import '../variables/index.less';

/* 弹出或关闭动画来动态设置内容高度 */
@keyframes slideBGOpen {
  from {
    background: transparent;
  }
  to {
    background: rgba(0, 0, 0, 0.6);
  }
}

@keyframes slideBGClose {
  from {
    background: rgba(0, 0, 0, 0.6);
  }
  to {
    background: transparent;
  }
}

.@{tv-prefix}-overlay {
  position: fixed;
  visibility: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: visibility 140ms cubic-bezier(0.36, 0.66, 0.04, 1);
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  &--open {
    visibility: visible;
    &__animate {
      animation: slideBGOpen 0.3s ease-in both;
    }
  }
  &--close__animate {
    transition: visibility 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
    animation: slideBGClose 0.3s ease-in both;
  }
}
