@import '../variables/index.less';

.@{tv-prefix}-radio {
  font-size: @font-size-base;
  display: inline-block;
  &__primary {
    color: @color-primary;
  }
  &__disabled {
    color: @color-secondary;
  }
  &-text {
    margin: 0 12px 0 6px;
  }
}
