.@{tv-prefix}-rate {
  &_icon {
    color: #f0f0f0;
    font-size: 38px !important;
    margin-left: 12px;
    &_none {
      pointer-events: none;
    }
    &_actived {
      color: #fadb14;
    }
    &:first-child {
      margin-left: 0;
    }
  }
}
