@import '../variables/index.less';

@size: 160px;

.@{tv-prefix}-uploader {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  &__preview {
    height: @size;
    width: @size;
    border-radius: 8px;
    overflow: hidden;
    margin-right: @space-x;
    margin-bottom: @space-x;
    border: 1px solid @color-gray-5;
    position: relative;
  }
  &-close {
    position: absolute;
    right: 0;
    top: 0;
    height: 20px;
    width: 20px;
    padding: 10px;
    color: #fff;
    background-color: black;
    border-radius: 0 0 0 34px;
    &__icon {
      font-size: 20px !important;
      position: absolute;
      right: 6px;
      top: 6px;
      line-height: 1;
    }
  }

  &__mask {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    &__icon {
      color: #fff !important;
      margin-bottom: 4px;
    }
  }
  &__img {
    height: @size;
    width: @size;
  }
  &__upload {
    display: flex;
    justify-content: center;
    align-items: center;
    height: @size;
    width: @size;
    border-radius: 8px;
    background-color: @color-gray-5;
    overflow: hidden;
    border: 1px solid @color-gray-5;
  }
  &__add {
    color: @color-gray-1;
  }
}
