dist/
deploy_versions/
.temp/
.rn_temp/
node_modules/
.DS_Store

# misc
.DS_Store

# umi
.umi
.umi-production
.env.local

lib/
es/
package-lock.json
yarn.lock
project.config.json
project.private.config.json