.items(@suffix, @bgdColor, @contentColor, @borderColor) {
  &-@{suffix} {
    background-color: @bgdColor;
    &_container {
      border: 1px dashed @borderColor;
      border-radius: 8px;
    }
    &_box {
      background-color: @contentColor;
    }
  }
}

.example {
  &-flex {
    padding: 20px;
  }
  &-box {
    height: 80px;
    width: 214px;
    border-radius: 8px;
    margin: 10px;
  }
  &-align {
    &_container {
      height: 300px;
    }
    .items(start, #f9fafb, #9ca3af,#4b5563);
    .items(end, #fef2f2, #f87171,#dc2626);
    .items(center, #fffbeb, #fcd34d,#d97706);
    .items(around, #ecfdf5, #34d399,#059669);
    .items(evenly, #eff6ff, #60a5fa,#2563eb);
  }
}
