.example {
  &-flex {
    padding: 20px;
  }
  &-box {
    height: 80px;
    width: 214px;
    border-radius: 8px;
    margin: 10px;
  }
  &-align {
    &_container {
      height: 300px;
    }
    &-start {
      background-color: #f9fafb;
      &_container {
        border: 1px dashed #4b5563;
        border-radius: 8px;
      }
      &_box {
        background-color: #9ca3af;
      }
    }
    &-end {
      background-color: #fef2f2;
      &_container {
        border: 1px dashed #dc2626;
        border-radius: 8px;
      }
      &_box {
        background-color: #f87171;
      }
    }
    &-center {
      background-color: #fffbeb;
      &_container {
        border: 1px dashed #d97706;
        border-radius: 8px;
      }
      &_box {
        background-color: #fcd34d;
      }
    }
    &-around {
      background-color: #ecfdf5;
      &_container {
        border: 1px dashed #059669;
        border-radius: 8px;
      }
      &_box {
        background-color: #34d399;
      }
    }
    &-evenly {
      background-color: #eff6ff;
      &_container {
        border: 1px dashed #2563eb;
        border-radius: 8px;
      }
      &_box {
        background-color: #60a5fa;
      }
    }
  }
}
