@font-face {
  font-family: "iconfont"; /* Project id 3193910 */
  src: url('iconfont.woff2?t=1670218964793') format('woff2'),
       url('iconfont.woff?t=1670218964793') format('woff'),
       url('iconfont.ttf?t=1670218964793') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close_fill:before {
  content: "\ec48";
}

.icon-camera:before {
  content: "\ec44";
}

.icon-warning:before {
  content: "\ea43";
}

.icon-success:before {
  content: "\ea42";
}

.icon-star:before {
  content: "\ea3f";
}

.icon-minus:before {
  content: "\ea3d";
}

.icon-empty:before {
  content: "\ea32";
}

.icon-planet:before {
  content: "\ea31";
}

.icon-cross:before {
  content: "\ea3c";
}

.icon-plus:before {
  content: "\ea2f";
}

.icon-close:before {
  content: "\ea2e";
}

.icon-arrow:before {
  content: "\ea2b";
}

