@font-face {
  font-family: "iconfont"; /* Project id 3193910 */
  src: url('//at.alicdn.com/t/font_3193910_7z693a88zqm.woff2?t=1646364270463') format('woff2'),
       url('//at.alicdn.com/t/font_3193910_7z693a88zqm.woff?t=1646364270463') format('woff'),
       url('//at.alicdn.com/t/font_3193910_7z693a88zqm.ttf?t=1646364270463') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
  content: "\e630";
}

.icon-plus:before {
  content: "\e62f";
}

.icon-close:before {
  content: "\e62e";
}

.icon-camera:before {
  content: "\e62b";
}

.icon-arrow:before {
  content: "\e629";
}
