page,
body {
  background: #f7f7f7;
}

.p-12 {
  padding: 12px;
}

.p-20 {
  padding: 20px;
}

.px-12 {
  padding: 0 12px;
}

.px-20 {
  padding: 0 20px;
}

.py-12 {
  padding: 12px 0;
}

.py-20 {
  padding: 20px 0;
}

.pl-20 {
  padding-left: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.block {
  display: block;
}

.my-12 {
  margin: 12px 0;
}

.my-title {
  margin-top: 24px;
  margin-bottom: 12px;
}

.mx-12 {
  margin: 0 12px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mr-32 {
  margin-right: 32px;
}

.ml-20 {
  margin-left: 20px;
}

.lh-1 {
  line-height: 1;
}

.bg-white {
  background-color: #fff;
}
